@charset "UTF-8";

body {
	margin: 0px;
	padding: 0px;
	font-family: Microsoft YaHei, Arial, Verdana, Helvetica, sans-serif;
	font-size: 16px;
}

canvas {
	border: 1px solid #000000;
}

.button {
	display: inline-block;
	min-width: 60px;
	text-align: center;
	padding: 5px 10px 5px 10px;
	background-color: #dddddd;
	cursor: pointer;
	font-weight: bold;
}

.button-toggle.pressed {
	background-color: #48adff;
	color: #eeeeee;
}